
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
body {
  /* background: #f7e0d3; */
  background: #000000;
  text-align: center;
  color: #f7e0d3;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
}
.support {
  font-weight: bold;
  padding: 2em 0 0 0;
  font-size: 1.4em;
  color: #ee2563;
  display: none;
}
a {
  color: #7986cb;
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
  color: #3f51b5;
}
.div1 {
  float:left; 
  width:60%; 
  height:20%; 
  margin:5%; 
  margin-right:20%; 
  margin-left:20%; 
  margin-bottom:0%;
}
.div2 {
  width:100%; 
  height:10%; 
  margin-bottom:0%;
}
.maindiv {
  text-align:center; 
  width:100%; 
  font-family: 'Georgia'; 
  color: #f7e0d3;
  /* color: rgb(41, 40, 40);  */
  font-size: 50px; 
  font-weight: 1000; 
  margin-bottom:0%;
}
.contentdiv {
  text-align:center; 
  float:left; 
  margin-left:5%; 
  width:90%; 
  height:40%; 
  font-family: 'Georgia'; 
  color: #f7e0d3;
  font-size: 18px; 
  font-weight: 200; 
  margin-bottom:0%;
}
.div3 {
  float:left; 
  margin-left:5%; 
  width:90%; 
  margin-bottom:0%;
}
.gallerydiv {
  display:flex;
  float:left; 
  justify-content:center; 
  background-color:rgba(245, 245, 245, 0.2); 
  margin:2%; 
  margin-right:1%; 
  margin-left:1%; 
  margin-bottom:1%;  
  width:13%;
}
.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}
.container {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.content {
  padding: 2em 1em 5em;
  z-index: 1;
  /* max-width: 1000px; */
  margin: 0 auto;
}
.content h2 {
  margin: 0 0 2em;
}
.content p {
  margin: 1em 0;
  padding: 0 0 2em;
  font-size: 0.85em;
}
.box {
  padding: 4.5em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

/* Header */
.codrops-header {
  padding: 3em 190px 4em;
  letter-spacing: -1px;
}
.codrops-header h1 {
  font-weight: 200;
  font-size: 4em;
  line-height: 1;
  margin-bottom: 0;
}
.codrops-header h1 span {
  display: block;
  font-size: 40%;
  letter-spacing: 0;
  padding: 0.5em 0 1em 0;
  color: #A8B3B8;
}

/* Top Navigation Style */
.codrops-links {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.25em;
  text-align: center;
}
.codrops-links::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #BFCACF;
  content: '';
  -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
  transform: rotate3d(0, 0, 1, 22.5deg);
}
.codrops-icon {
  display: inline-block;
  margin: 0.5em;
  padding: 0em 0;
  width: 1.5em;
  text-decoration: none;
}
.codrops-icon:before {
  margin: 0 5px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'paybooc-Light';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}
.codrops-icon span {
  display: none;
}
.codrops-icon--drop:before {
  content: "\e001";
}
.codrops-icon--prev:before {
  content: "\e004";
}

::-moz-selection {
  background: rgb(255, 243, 173);
  color: #fff;
}
::selection {
  background: rgb(248, 182, 1);
  color: #fff;
}

/* Related demos */
.content--related {
  text-align: center;
  font-weight: 600;
}
.media-item {
  display: inline-block;
  padding: 1em;
  margin: 1em 0 0 0;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.media-item__img {
  opacity: 0.8;
  /* max-width: 100%; */
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
  opacity: 1;
}
.media-item__title {
  font-size: 0.85em;
  margin: 0;
  padding: 0.5em;
}
@media screen and (max-width:50em) {
  .codrops-header {
    padding: 3em 10% 4em;
  }
}
@media screen and (max-width:40em) {
  .codrops-header h1 {
    font-size: 2.8em;
  }
}

/* Box colors */
.bg-1 {
  background: #ECEFF1;
  color: #37474f;
}
.bg-2 {
  background: #7986cb;
  color: #ECEFF1;
}
.bg-3 {
  background: #37474f;
  color: #fff;
}

/* Common button styles */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 20px;
  width: 55%;
}

.w-btn {
  cursor: pointer;
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

#button1:disabled {
  background-color:rgba(245, 245, 245, 0.2);
}

.w-btn-indigo {
  background-color: #5f7eaf;
  color: #c3e2dd;
}

.w-btn-indigo:hover {
  background: #e5c1c5;
  color: #5f7eaf;
  transition: 0.25s;
}

.gallery1 { 
  /* border-radius: 30px; */
  /* cursor: pointer; */
  width: 100%;
  height: 100%;
  background: #7986cb;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  object-fit:cover;
  margin: auto; 
  display: block; 
  max-height:100%; 
  max-width:100%;
} 
.gallery1::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 30px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
/* .gallery1:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #3f51b5;
  -webkit-animation: anim-gallery-1 0.3s forwards;
  animation: anim-gallery-1 0.3s forwards;
}   */

/*. gallery1:hover:before {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
} */
@-webkit-keyframes anim-gallery-1 { 
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-gallery-1 {
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.wrapper {
  /* border: 1px solid #ee2563; */
  /* height: 100%; */
  width: 99%;
  padding: 10px;
  position: absolute;
  top: 20%;
  overflow: hidden;
  /* left: 20%; */
  /* margin-left: -533px; */
}

.text-label {
  font-size: 20px; 
  text-align: center;
}

#fig {
  /* border: 1px dotted #37474f; */
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 20px;
}

#fig .mpld3-figure {
  margin-left: -35%;
  vertical-align: middle;
}

#fig .mpld3-figure g {
  /* transform: none; */
  text-align: center;
}

#fig-list {
  /* border: 1px dotted #7986cb; */
  float: left;
  width: 60%;
  height: 100%;
  padding: 10px;
  margin-left: -12%;
  text-align: center;
}

#fig-list .mpld3-figure {
  vertical-align: middle;
}

.bottomdiv {
  position: absolute;
  width: 99%;
  margin: 0px 0px 0px 0px;
  /* right: 8px; */
  bottom: 17px;
}